<div id="doc2" class="yui-t6">
  <div id="hd">
    <h1><a href="/" class="nolink">Juhász Ibolya <br/>
      Szakszolgálat</a></h1>
    <br/>
    <br/>
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="szakszolgalat">Szakszolgálat</a></li>
        <li><a href="diagnosztika" id="current">Diagnosztika</a></li>
        <li><a href="foglalkozasok">Foglalkozások</a></li>
        <li><a href="perinatalis">Perinatális tanácsadás</a></li>
        <li><a href="kepzes">Képzés</a></li>
      </ul>
    </div>
    <br/>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g"><%= image_tag "diagnosztika.jpg", :class => 'diagnosztika' %>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <h2>Diagnosztika</h2>
      <p>A megfelelő segítség kiválasztásához meghallgatjuk és megvizsáljuk a fejleszteni kívánt területeket. </p>
      <p>&nbsp;</p>
      <p>Jelentkezni lehet:</p>
      <p>tanacsado kukac humanex pont hu</p>
    </div>
  </div>
  <%= render partial: 'footer' %>
</div>