<div id="doc2" class="yui-t6">
  <div id="hd">
    <h1><a href="/" class="nolink">Juhász Ibolya <br/>
      Szakszolgálat</a></h1>
    <br/>
    <br/>
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="szakszolgalat">Szakszolgálat</a></li>
        <li><a href="diagnosztika">Diagnosztika</a></li>
        <li><a href="foglalkozasok" id="current">Foglalkozások</a></li>
        <li><a href="perinatalis">Perinatális tanácsadás</a></li>
        <li><a href="kepzes">Képzés</a></li>
      </ul>
    </div>
    <br/>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g"><%= image_tag "foglalkozas.jpg", :class => 'foglalkozas' %>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <h2>Foglalkozások</h2>
      <p>Csoportos vagy egyéni beszéd, mozgás, korai képeszségfejlesztő foglalkozásokat tartunk kicsiknek és nagyoknak, szüleiknek. A szülők tanácsadási konzultációkon kaphatnak választ nevelési és fejlesztési kérdéseikre.</p>
      <p>&nbsp;</p>
      <p>Konzultációs lehetőséget biztosítunk a team szakembereivel a családnak.</p>
      <p>&nbsp;</p>
      <p>Jelentkezni lehet:</p>
      <ul class="lista">
        <li>- korai fejlesztés</li>
        <li>- beszédindítás</li>
        <li>- pöszeség</li>
        <li>- mozgás</li>
        <li>- iskola előkészítő</li>
        <li>- képesség fejlesztő</li>
        <li>- zakzik terápiára</li>
      </ul>
    </div>
  </div>
  <%= render partial: 'footer' %>
</div>