<div id="doc2" class="yui-t6">
  <div id="hd">
    <h1><a href="/" class="nolink">Juhász Ibolya <br/>
      Szakszolgálat</a></h1>
    <br/>
    <br/>
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="szakszolgalat">Szakszolgálat</a></li>
        <li><a href="diagnosztika">Diagnosztika</a></li>
        <li><a href="foglalkozasok">Foglalkozások</a></li>
        <li><a href="perinatalis">Perinatális tanácsadás</a></li>
        <li><a href="kepzes">Képzés</a></li>
      </ul>
    </div>
    <br/>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g"><%= image_tag "bemutatkozas.jpg", :class => 'bemutatkozas' %>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <h2>Bemutatkozás</h2>
      <%= image_tag "ibolya.jpg", :class => 'ibolya' %>
      <p>Tevékenységemmel segíteni szeretném a gyerekeket, a szülőket és a családokat.</p>
      <p>&nbsp;</p>
      <p style="color:#666666;">&quot;Életem nagyon szép, mert ugyanaz a hivatásom, mint a szenvedélyem. Tanító vagyok, gyerekekre figyelek.&quot; <br/>Kokas Klára</p>
      <p>&nbsp;</p>
      <h2>Elérhetőség</h2>
      
      <p>Juhász Ibolya</p>
      <p>Gyógypedagógus</p>
      <p>Logopédus, fejlesztő terapeuta</p>
      <p>Perinatális tanácsadó</p>
      <p>&nbsp;</p>
      <p>Telefon: +3630 5200048</p>
      <p>&nbsp;</p>
      <p>Email: tanacsado kukac humanex pont hu</p>
    </div>
  </div>
  <%= render partial: 'footer' %>
</div>