<div id="doc2" class="yui-t6">
  <div id="hd">
    <h1><a href="/" class="nolink">Juhász Ibolya <br/>
      Szakszolgálat</a></h1>
    <br/>
    <br/>
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="szakszolgalat">Szakszolgálat</a></li>
        <li><a href="diagnosztika">Diagnosztika</a></li>
        <li><a href="foglalkozasok">Foglalkozások</a></li>
        <li><a href="perinatalis">Perinatális tanácsadás</a></li>
        <li><a href="kepzes" id="current">Képzés</a></li>
      </ul>
    </div>
    <br/>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g"><%= image_tag "kepzes.jpg", :class => 'kepzes' %>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <h2>Képzés</h2>
      <p>Rendszeres előadásokat konzultációkat tartunk ovodákban iskolákban nagy és kis családosoknak.</p>
      <p>&nbsp;</p>
      <p>Szakembereink: </p>
      <p>- orvos</p>
      <p>- pszichológus</p>
      <p>- logopédus</p>
      <p>- fejlesztő pedagógus</p>
      <p>- gyógytornász</p>
      <p>&nbsp;</p>
      <p>Közös játék a szülőkkel.</p>
    </div>
  </div>
  <%= render partial: 'footer' %>
</div>