<div id="doc2" class="yui-t6">
  <div id="hd">
    <h1><a href="/" class="nolink">Juhász Ibolya <br/>
      Szakszolgálat</a></h1>
    <br/>
    <br/>
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="szakszolgalat">Szakszolgálat</a></li>
        <li><a href="diagnosztika">Diagnosztika</a></li>
        <li><a href="foglalkozasok">Foglalkozások</a></li>
        <li><a href="perinatalis" id="current">Perinatális tanácsadás</a></li>
        <li><a href="kepzes">Képzés</a></li>
      </ul>
    </div>
    <br/>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g"><%= image_tag "perinatalis.jpg", :class => 'perinatalis' %>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <h2>Perinatális szaktanácsadás</h2>
      <p>Tájékoztatást, támogatást szeretnénk nyújtani a testi lelki problémákkal hozzánk fordulóknak, a családtervezés, szülő, szülésfelkészítő, szülő-gyerek kapcsolatépítő programjainkkal. A korai kötődés, fejlődés ismereteinek átadásával és a játékos tapasztalatszerző segítséggel.</p>
      <p>&nbsp;</p>
      <p>- Fészek - ház: családtervezés</p>
      <p>- Vár - lak ház: szülésfelkészítő</p>
      <p>- Mese - ház: kapcsolatépítő programok</p>
    </div>
  </div>
  <%= render partial: 'footer' %>
</div>