<div id="doc2" class="yui-t6">
  <div id="hd">
    <h1><a href="index" class="nolink">Juhász Ibolya <br/>
      Szakszolgálat</a></h1>
    <br/>
    <br/>
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="szakszolgalat" id="current">Szakszolgálat</a></li>
        <li><a href="diagnosztika">Diagnosztika</a></li>
        <li><a href="foglalkozasok">Foglalkozások</a></li>
        <li><a href="perinatalis">Perinatális tanácsadás</a></li>
        <li><a href="kepzes">Képzés</a></li>
      </ul>
    </div>
    <br/>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g"><%= image_tag "szakszolgalat.jpg", :class => 'szakszolgalat' %>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <h2>Szakszolgálat</h2>
      <p>- tanácsadó</p>
      <p>- fejlesztő</p>
      <p>- perinatális tanácsadó</p>
    </div>
  </div>
  <%= render partial: 'footer' %>
</div>