<div id="doc2" class="yui-t7">
	<div id="hd">
	<div class="address">
		<h1 class="en">Humanex-TECH Industrial Trading & Services Ltd.</h1>
		<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=hu&geocode=&q=1113+Budapest,+Bart%C3%B3k+B%C3%A9la+%C3%BAt+152.&sll=47.137425,19.500732&sspn=4.917715,8.756104&ie=UTF8&ll=47.467934,19.023707&spn=0.009441,0.021715&z=16&iwloc=addr">
			H–1113 Budapest, Bartók Béla út 152. Hungary</a></p>
		<p><span>Phone:</span> +36 1 780 1220, fax: +36 1 780 1236</p>
		<p><span>E-mail:</span>
			<SCRIPT TYPE="text/javascript"><!-- 
			emailE=('info' + '' + '@' +  'humanex-tech.com')
			document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
			 //--></script>
		</p>
		<p><span>Web:</span> <a href="http://www.humanex-tech.com">www.humanex-tech.com</a></p>
	</div>
	
	<div class="story">
		<p>
			Humanex-TECH Ltd. has been being a 
			worldwide project supplier since 2001. Our 
			goals are to be fast, flexible and reliable to 
			achieve our customers’ satisfaction.
		</p>
	</div>
</div>

	<div id="bd">
	<div class="yui-g">
		<h2>Contact information</h2>

		<div class="map-wrapper" style='width:500px; height:350px; margin-left:1em; float:right; border:1px solid #9C661F;'><div id="map_canvas" style="width:100%; height:100%">&nbsp;</div></div>
		
		<h3>Our office</h3>
		<p>H-1113 Budapest, Bartók Béla út 152. Hungary<br />
		phone: +36 1 780 1220<br />
		fax: +36 1 780 1236<br />
		web: <a href="http://humanex-tech.com">www.humanex-tech.com</a></p>

<p></p><p></p><p></p><p></p>
		
	</div>

	</div>