<div id="doc2" class="yui-t7">
	<div id="hd">
	<div class="address">
		<h1 class="en">Humanex-TECH Industrial Trading & Services Ltd.</h1>
		<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=hu&geocode=&q=1113+Budapest,+Bart%C3%B3k+B%C3%A9la+%C3%BAt+152.&sll=47.137425,19.500732&sspn=4.917715,8.756104&ie=UTF8&ll=47.467934,19.023707&spn=0.009441,0.021715&z=16&iwloc=addr">
			H–1113 Budapest, Bartók Béla út 152. Hungary</a></p>
		<p><span>Phone:</span> +36 1 780 1220, fax: +36 1 780 1236</p>
		<p><span>E-mail:</span>
			<SCRIPT TYPE="text/javascript"><!-- 
			emailE=('info' + '' + '@' +  'humanex-tech.com')
			document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
			 //--></script>
		</p>
		<p><span>Web:</span> <a href="http://www.humanex-tech.com">www.humanex-tech.com</a></p>
	</div>
	
	<div class="story">
		<p>
			Humanex-TECH Ltd. has been being a 
			worldwide project supplier since 2001. Our 
			goals are to be fast, flexible and reliable to 
			achieve our customers’ satisfaction.
		</p>
	</div>
</div>
		
	<div id="bd">
	<div class="yui-g">
		<h2>The Humanex-TECH Ltd.</h2>
		<p>
		Humanex-TECH Ltd. has been a worldwide operating project supplier company founded in 2001 and located in Budapest, Hungary. Our focus is on our clients’ success and satisfaction.
		</p>
		<p>
		Our strength is in our engineering knowledge and long-time international supplier experience. Thanks to this we are able to supply complex oil, gas, energy and petrochemical projects not only in Hungary and Central Eastern Europe, but also on distant markets of the world.
		</p>
		<p>
		We are proud of our achieved success in the region of Central Eastern Europe and in Middle Asia. We took part in projects of nearly all remarkable oil and gas companies, like MOL, FGSZ, INA, Plinacro, NIS, Srbijagas, Petrom, OMV, E.ON, in Hungary and in the surrounding countries, too. Our main goal is to maintain and develop these positions, which requires conscientious work and dedication to strive for success.
		</p>
		<p>
		In order to become more competitive, we introduced last year the ISO 9001:2000 quality management system and are currently working on the introduction of Microsoft Dynamics NAV
ERP system. 
		<p>
		</p>
		We believe that only supplying of quality products and services contribute to the long-time protection of our environment. That is why we decided to obtain the ISO 14001:2004 certificate, too.
		</p>
		<p>
		Our company philosophy is to be fast, flexible and reliable to achieve our customers’ satisfaction worldwide!
		</p>
	</div>

	</div>