<div id="menucontainer">
	<div id="menunav">
		<div id="lang">
			<a href="http://humanex-tech.com"><%= image_tag "gb.png" %></a>
			<a href="http://humanex-tech.hu"><%= image_tag "hu.png" %></a>
		</div>
		<ul>
			<li><a href="/" title="The Humanex-TECH Ltd."><span>The Humanex-TECH Ltd.</span></a></li>
			<li><a href="products" title="Our products"><span>Our products</span></a></li>
			<li><a href="contact" title="Contact"><span>Contact</span></a></li>
		</ul>
	</div>
</div>