<div id="hd">
	<div class="address">
		<h1>Humanex-TECH Kft.</h1>
		<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=hu&geocode=&q=1113+Budapest,+Bart%C3%B3k+B%C3%A9la+%C3%BAt+152.&sll=47.137425,19.500732&sspn=4.917715,8.756104&ie=UTF8&ll=47.467934,19.023707&spn=0.009441,0.021715&z=16&iwloc=addr">
			1113 Budapest, Bartók Béla út 152.</a></p>
		<p><span>Tel.:</span> +36 1 780 1220, fax: +36 1 780 1236</p>
		<p><span>E-mail:</span>
			<SCRIPT TYPE="text/javascript"><!-- 
			emailE=('info' + '' + '@' +  'humanex-tech.com')
			document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
			 //--></script>
		</p>
		<p><span>Web:</span> <a href="http://www.humanex-tech.hu">www.humanex-tech.hu</a></p>
	</div>
	
	<div class="story">
		<p>
			A Humanex-TECH Kft. 2001 óta működő nemzetközi projektbeszállító. Célunk ügyfeleink 
			gyors, rugalmas és megbízható kiszolgálása.
		</p>
	</div>
</div>
		
	<div id="bd">
	<div class="yui-g">
		<h2>Bemutatkozik a Humanex-TECH Kft.</h2>
		<p>
			Cégünk, a Humanex-TECH Kft. 2001. óta működő budapesti székhelyű projektbeszállító társaság.
			Tevékenységünk középpontjába ügyfeleink elégedettségét és sikerét  állítottuk.
		</p>
		<p>Erősségünk a mérnöki tudásban és a többéves nemzetközi beszállítói tapasztalatunkban rejlik.
		Ennek köszönhetően képesek vagyunk összetett olaj, gáz, energetikai és petrolkémiai projektbeszállítások teljes körű megvalósítására itthon, a közép-kelet európai régióban, de akár a távoli piacokon is. 
		</p>
		<p>
		Büszkén vállaljuk a mögöttünk álló kiváló beszállítóinkat, továbbá a régióban és Közép-Ázsiában elért sikereinket.
		Magyarország és a környező országok szinte valamennyi nagyobb olaj- és gázipari társaságának – MOL, FGSZ, INA, Plinacro, NIS, Srbijagas, Petrom, OMV, E.ON – projektjeiben veszünk, illetve vettünk részt. Célunk ezen pozíciók megőrzése és megerősítése, melynek megvalósítása csak további következetes munkával és kitartással érhető el.
		</p>
		<p>Versenyképességünk növelése érdekében az elmúlt év során megszereztük az ISO 9001:2000 szabvány szerinti tanúsítást. 
		Jelenleg a MS Dynamics NAV integrált vállalatirányítási rendszer bevezetését végezzük. 
		<p>
		</p>
		Hisszük, hogy csak minőségi, hosszú távon is megbízható termékek és szolgáltatások forgalmazásával járulhatunk hozzá környezetünk védelméhez és állapotának hosszú távú megőrzéséhez. 
		Ennek értelmében az ISO 14001:2004 szerinti környezetirányítási rendszer bevezetésén dolgozunk.
		</p>
		<p>
		Cégfilozófiánk: ügyfeleink gyors, rugalmas és megbízható kiszolgálása a világ bármelyik részén.
		</p>
	</div>

	</div>