<div id="menucontainer">
	<div id="menunav">
		<div id="lang">
			<a href="http://humanex-tech.com"><%= image_tag "gb.png" %></a>
			<a href="http://humanex-tech.hu"><%= image_tag "hu.png" %></a>
		</div>
		<ul>
			<li><a href="/" title="A Humanex-TECH Kft."><span>A Humanex-TECH Kft.</span></a></li>
			<li><a href="termekeink" title="Termékeink"><span>Termékeink</span></a></li>
			<li><a href="kapcsolat" title="Kapcsolat"><span>Kapcsolat</span></a></li>
		</ul>
	</div>
</div>