	<div id="hd">
	<div class="address">
		<h1 class="en">Humanex-TECH Industrial Trading & Services Ltd.</h1>
		<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=hu&geocode=&q=1113+Budapest,+Bart%C3%B3k+B%C3%A9la+%C3%BAt+152.&sll=47.137425,19.500732&sspn=4.917715,8.756104&ie=UTF8&ll=47.467934,19.023707&spn=0.009441,0.021715&z=16&iwloc=addr">
			H–1113 Budapest, Bartók Béla út 152. Hungary</a></p>
		<p><span>Phone:</span> +36 1 780 1220, fax: +36 1 780 1236</p>
		<p><span>E-mail:</span>
			<SCRIPT TYPE="text/javascript"><!-- 
			emailE=('info' + '' + '@' +  'humanex-tech.com')
			document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
			 //--></script>
		</p>
		<p><span>Web:</span> <a href="http://www.humanex-tech.com">www.humanex-tech.com</a></p>
	</div>
	
	<div class="story">
		<p>
			Humanex-TECH Ltd. has been being a 
			worldwide project supplier since 2001. Our 
			goals are to be fast, flexible and reliable to 
			achieve our customers’ satisfaction.
		</p>
	</div>
</div>

	<div id="bd">
	<div class="yui-g">
		<h2>Steel pipes & pipe system components</h2>
		<ul>
			<li>Welded (HF ERW, HFI, HSAW, LSAW) and seamless (hot rolled, cold drawn)</li>
			<li>Diameter range from 1/8” up to 80” (120”), wall thickness from 1,22 mm to 40 mm</li>
			<li>Wide range of materials and standards</li>
			<li>With different inner linings and outside coatings</li>
			<li>Various components: bends, reducers, T-pieces, flanges, expansion joints, etc.</li>
		</ul>
		
		<h2>Valves</h2>
		<ul>
			<li>Wide range of valve types (ball, gate, globe, check, butterfly, needle valves, etc.)</li>
			<li>Size range from ¼” to 56”, pressure range from API Class 150# to 2500#, 
  temperature range from -190°C to 550°C</li>
			<li>According to European and American standards</li>
		</ul>
		
		<h2>OCTG products & oilﬁeld equipment</h2>
		<ul>
			<li>Tubular goods (casings, tubings, couplings, blast joints, drill pipes, etc.)</li>
			<li>Products for oil/gas exploration (high pressure hoses and valves, packers, 
   wellhead equipment)</li>
			<li>Filtration systems, “poor-boy” degassers, different parts & components</li>
		</ul>

		<h2>Corrosion protection systems & testing equipment</h2>
		<ul>
			<li>Warm applicable systems (shrinking sleeves and tapes, shrinking hoses for 
   Tyton and flanged joints)</li>
			<li>Cold applicable systems (1 and 2 tape systems)</li>
			<li>Sealing mass, factory coating repair materials</li>
			<li>Cathodic protection systems, components and services</li>
			<li>High quality holiday detectors</li>
		</ul>

		<h2>Rental & sale of pipeline construction machinery </h2>
		<ul>
			<li>Pipe layers, welding tractors, pay welders, bending machinery, 
   line-up clamps, pipe carrying vehicles, vacuum lifters etc.</li>
		</ul>

		<h2>Road tank trailers and semitrailers</h2>
		<ul>
			<li>Tank trailers and semitrailers acc. to ADR for transportation of different liquids 
  (crude oil, bitumen, chemicals, fuels etc.) up to tank volume of 60 m3</li>
		</ul>
		
	</div>