
	<div id="hd">
		<div class="address">
			<h1>Humanex-TECH Kft.</h1>
			<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=hu&geocode=&q=1113+Budapest,+Bart%C3%B3k+B%C3%A9la+%C3%BAt+152.&sll=47.137425,19.500732&sspn=4.917715,8.756104&ie=UTF8&ll=47.467934,19.023707&spn=0.009441,0.021715&z=16&iwloc=addr">
			1113 Budapest, Bartók Béla út 152.</a></p>
			<p><span>Tel.:</span> +36 1 780 1220, fax: +36 1 780 1236</p>
			<p><span>E-mail:</span>
				<SCRIPT TYPE="text/javascript"><!-- 
					emailE=('info' + '' + '@' +  'humanex-tech.com')
					document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
				</script>
			</p>
			<p><span>Web:</span> <a href="http://www.humanex-tech.hu">www.humanex-tech.hu</a></p>
		</div>
	
		<div class="story">
			<p>
				A Humanex-TECH Kft. 2001 óta működő nemzetközi projektbeszállító. Célunk ügyfeleink 
				gyors, rugalmas és megbízható kiszolgálása.
			</p>
		</div>
	</div>

	<div id="bd">
		<div class="yui-g">
			<h2>Acélcsövek és csővezetékrendszer-elemek</h2>
			<ul>
				<li>Hegesztett (HF ERW, HFI, HSAW, LSAW) és varrat nélküli acélcsövek</li>
				<li>Átmérő: 1/8” – 80” (120”), falvastagság: 1,22 mm – 40 mm</li>
				<li>Különféle szabványok és anyagminőségek</li>
				<li>Különböző külső és belső bevonatokkal</li>
				<li>Egyéb elemek: ívek, szűkítők, T-idomok, karimák, szerelési közdarabok stb.</li>
			</ul>
		
			<h2>Szerelvények</h2>
			<ul>
				<li>Széles típusválaszték: gömbcsapok, tolózárak, fojtó-, visszacsapó-, pillangó-, tűszelepek stb.</li>
				<li>Méret: ¼” – 56”, nyomás: API Class 150# – 2500#, üzemi hőmérséklet: -190°C és +550°C között</li>
				<li>Európai és amerikai szabványok szerint</li>
			</ul>
		
			<h2>OCTG termékek</h2>
			<ul>
				<li>Olajbányászati csövek (béléscső, termelőcső, csatlakozó, fúrócső stb.)</li>
				<li>Egyéb termékek olaj/gáz kitermeléshez (nagy nyomású tömlők és szerelvények, packerek, kútfej szerelvények)</li>
				<li>Szűrőrendszerek, „poor-boy” gáztalanítók stb.</li>
			</ul>

			<h2>Korrózióvédelem</h2>
			<ul>
				<li>Zsugoranyagok (zsugorkarmantyú és szalag, zsugortömlő Tyton- és karimás kötésekhez)</li>
				<li>Hidegen szerelhető rendszerek (1 és 2 szalagos rendszerek)</li>
				<li>Tömítő massza, gyári csőbevonat javító anyagok</li>
				<li>Katódvédelmi rendszerek, elemek és szolgáltatások</li>
				<li>Átütési szilárdságvizsgáló készülékek</li>
			</ul>


			<h2>Csővezeték építő gépek bérbeadása, forgalmazása</h2>
			<ul>
				<li>Csővezeték fektetők, hegesztő traktorok, vonalhegesztők, hajlítógépek, csőillesztők, csőszállító járművek, vákuumos emelők stb.</li>
			</ul>

			<h2>Tartályfélpótkocsik, -pótkocsik, -felépítmények</h2>
			<ul>
				<li>Különféle (veszélyes) folyadékok (üzemanyagok, vegyianyagok stb.) szállítására szolgáló, az ADR-nek megfelelő tartálypótkocsik, -félpótkocsik, -felépítmények 60 m3 tartálytérfogatig bezárólag.</li>
			</ul>
		
		</div>
	</div>